<!--list of item [{username:'xxxx', email:"a@g.com"}]-->
<div class="p-20">
    <div class="flex flex-row justify-between items-center border p-2">
      <h1 class="text-2xl font-bold">List of Items</h1>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Quick Add Item
      </button>
    </div>
  <div class="flex flex-row justify-between items-center border p-2">
    <ul class="w-full">
      <li class="w-full">
        <div class="w-full flex justify-start items-center">
          <p class="border-r p-4">username</p>
          <p class="border-r p-4">email</p>
        </div>
      </li>

    </ul>
  </div>

</div>
